@import "tailwindcss";

html, body {
  background-color: #09090b;
  color: #f4f4f5;
  overflow: hidden;
}

::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-track { background: #18181b; }
::-webkit-scrollbar-thumb { background: #7f1d1d; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #991b1b; }